table tr td,
table tr th{
	font-size: 12pt;
}

.row .kop{
    margin-top: 30px; 
    margin-bottom: 10px;
}

.row .judul{
    margin-bottom: 10px
}

.container{
    font-family: 'Times New Roman';
}

hr{
    height: 5px;
    border-top:3px double #8c8c8c;
}